@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fde047;
}

.header {
    display: flex;
    background-color: #0A75BC;
    box-shadow: 0px 3px 10px black;
}

.container {
    padding: 1rem;
    margin: .5rem;
    min-width: 1000px;
}

.container-center {
    width: 1000px;
    margin: auto;
}

.header>div {
    margin: 1rem;
    margin-left: 30%;
    height: 80px;
    flex-grow: 1;
}

.view-code {
    display: flex;
    justify-content: flex-end;
}

.img-header {
    margin-top: -20px;
    width: 480px;
}

.link-source-code {
    text-decoration: none;
    color:#fde047;
    background-color: transparent;
    border: 2px solid#fde047;
    border-radius: 10%;
    margin-top: 2.8rem;
    margin-right: 1rem;
    padding: 8px;
    height: fit-content;
}

.link-source-code:hover {
    text-decoration: none;
    color: #0A75BC;
    background-color:#fde047;
    border: 2px solid #0A75BC;
    border-radius: 10%;
    margin-top: 2.8rem;
    margin-right: 1rem;
    padding: 8px;
    height: fit-content;
}

.text-intro {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

#input-text{
   padding-left: 15px;
   height: 230px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.flex-child {
    flex: 1;
}

textarea {
    resize: none;
    border-radius: 20px;
}

.btn-group {
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-top: 20px;
}

.btn-primary {
    width: 12rem;
    font-size: 22px;
    color: white;
    margin: 1rem;
    border: 2px solid #0A75BC;
    background-color: #0A75BC;
    border-radius: 20px;
}

.btn-primary:hover {
    margin: 1rem;
    border: 2px solid #0A75BC;
    background-color: #0A75BC;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    transform: scale(1.02);
    transition: all 0.2s    ease-in-out;
}

.btn-secondary {
    color: #0A75BC;
    margin: 1rem;
    padding: 0rem .8rem;
    border: 2px solid #0A75BC;
    background-color: transparent;
    border-radius: 20px;
}

.btn-secondary:hover {
    font-size: 16px;
    color: white;
    margin: 1rem;
    border: 2px solid #0A75BC;
    background-color: #0A75BC;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    transition: all 0.2s    ease-in-out;
}

.output-text {
    background-color: white;
    border: 1px black solid;
    height: 230px;
    border-radius: 20px;
    width: auto;
}

.display-inline{
    display: inline;
    border: 1px solid red;
}

.fun-fact-head {
    color: black;
}

.span-fact {
    padding: 7px;
    height: 20vh;
    width: 700px;
    box-shadow: 1px 1px 8px 1px #b49a04;
    font-size: 24px;
}

.img-minion{
    width: 250px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #0A75BC;
    padding: 20px 0px;
    height: 55px;
    box-shadow: inset 1px 0px 10px black;
}

.footer-text{
    color:#fde047;
    font-size: 1.2rem;
    font-weight: 600;
}

.fa {
    padding: 17px;
    font-size: 20px !important;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 1;
      background :#fde047;
      color: black;
  }

  .fa-google {
    background: #0A75BC;
    color:#fde047;
    border : 1px #fde047 ;
  }

  .fa-linkedin {
    background: #0A75BC;
    color:#fde047;
    border : 1px #fde047 ;
  }

  .fa-github {
    background: #0A75BC;
    color:#fde047;
    border : 1px #fde047 ;
  }
